form {
  width: 76%;
  margin: 0 auto;
}

.horizontal-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.form-field {
  width: 45%;
}
select {
  width: 100%;
}
h1 {
  text-align: center;
}
