.tasklist {
  display: flex;

  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 30px;
}
h1 {
  text-align: center;
}
.task {
  min-width: 300px;
  margin: 15px;
}

.task-footer {
  display: flex;
  padding: 5px;
  align-items: center;
}

progress {
  flex-grow: 1;
  max-width: 173px;
}

.btn {
  flex-grow: 2;
}

.warning {
  font-size: 61%;
  background-color: #f14668;
  color: white;
  width: 100%;
  padding: 5px;
}
